/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    color: #7b7e82;
    background-color: #000;
}

/* UTILITIES */
.text-center {
    text-align: center;
}

/* SECTIONS */
/* Main */
.main-app {
    display: flex;
    height: calc(100vh - 90px);
}

/* Aside */
.main-app .navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 50px;
    padding: 5px 0;
}

.navbar img {
    width: 30px;
    margin-bottom: 10px;
}

.navbar .account img {
    height: 30px;
    margin-top: 20px;
    border-radius: 50%;
    background-color: #808080;
}

/* Main Content */
.main-content {
    height: 100%;
    flex-grow: 1;
    position: relative;
    background-color: #7b7e82;
}

.main-content header {
    position: absolute;
    top: 0;
    right: 0;
    height: 90px;
    width: 100%;
    background-color: aqua;
}
/* Footer */
.player {
    height: 90px;
    background-color: #282828;
}

/*********************************************************
RESPONSIVE (MOBILE-FIRST)
*********************************************************/
