/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    color: #7b7e82;
    background-color: #000;
}

a {
    text-decoration: none;
    color: #7b7e82;
}

/* UTILITIES */
.text-center {
    text-align: center;
}

.color-white {
    color: #fff;
}

/* SECTIONS */
/* Main */
.main-app {
    display: flex;
    height: calc(100vh - 90px);
}

/* Aside */
.main-app .navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 50px;
    padding: 5px 0;
}

.navbar img {
    width: 30px;
    margin-bottom: 10px;
}

.navbar .account img {
    height: 30px;
    margin-top: 20px;
    border-radius: 50%;
    background-color: #808080;
}

/* Main Section */
.main-section {
    height: 100%;
    flex-grow: 1;
    position: relative;
    background-color: #141922;
}

.main-section header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 90px;
    width: 100%;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.3);
}

.main-section header button {
    background-color: transparent;
    border: 1px solid currentColor;
    border-radius: 40px;
    padding: 15px 40px;

}

.main-section .main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    padding: 115px 20px;
}

.main-section .main-content nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 14px;
}

.main-section .main-content nav a {
    margin-bottom: 40px;
}

.main-section .main-content .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main-section .main-content .card {
    width: calc(100% / 2);
}

.main-section .main-content .card img {
    height: 215px;
}
/* Footer */
.player {
    height: 90px;
    background-color: #282828;
}

/*********************************************************
RESPONSIVE (MOBILE-FIRST)
*********************************************************/
